 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-bash-plain colored"></i>
      <i class="devicon-julia-plain colored"></i>
      <i class="devicon-ruby-plain colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>Mainly Python for bioinformatics/cheminformatics</p>
    </div>
    <div class="tech">
      <h2>Frameworks/Libraries</h2>
        <i class="devicon-scikitlearn-plain colored"></i>
        <i class="devicon-selenium-original colored"></i>
        <i class="devicon-django-plain colored"></i>
        <i class="devicon-flask-plain colored"></i>
        <i class="devicon-react-original colored"></i>
        <i class="devicon-vuejs-plain colored"></i>
        <i class="devicon-jquery-plain colored"></i>
        <p>Machine learning &amp; web development</p>
    </div>
    <div class="tech">
      <h2>Tools/Middleware</h2>
        <i class="devicon-anaconda-original colored"></i>
        <i class="devicon-git-plain colored"></i>
        <i class="devicon-docker-plain colored"></i>
        <i class="devicon-linux-plain colored"></i>
        <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        <i class="devicon-postgresql-plain colored"></i>
        <i class="devicon-mysql-plain colored"></i>
        <i class="devicon-mongodb-plain colored"></i>
        <i class="devicon-redis-plain colored"></i>
        <i class="devicon-vscode-plain colored"></i>
      <p>Bioconda &amp; conda-forge / Flatpak packaging, Linux geek</p>
    </div>
</div>
