 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!-- <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p></p>
    </div> -->
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>Learning Julia and Scala now</p>
    </div>
    <div class="tech">
      <h2>Frameworks</h2>
        <i class="devicon-django-plain-wordmark colored"></i>
        <i class="devicon-nodejs-plain-wordmark colored"></i>
        <i class="devicon-vuejs-plain-wordmark colored"></i>
        <i class="devicon-jquery-plain-wordmark colored"></i>
        <p>Can use also Flask(Python Web framework)</p>
    </div>
    <div class="tech">
      <h2>Tools/DB</h2>
        <i class="devicon-git-plain-wordmark colored"></i>
        <i class="devicon-docker-plain-wordmark colored"></i>
        <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        <i class="devicon-mysql-plain-wordmark colored"></i>
        <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>Editor: PyCharm/VScode/Atom/Vim</p>
    </div>
</div>
